.bg_dense_trees {
  background-image: url(./assets/backgrounds/bg_trees.png);
  background-position: center;
  background-size: cover;
}

.bg_thin_trees {
  background-image: url(./assets/backgrounds/bg_trees.png);
  background-position: center;
  background-size: cover;
}
